* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(132, 132, 241);
    background: linear-gradient(12deg, rgba(132, 132, 241, 1) 0%, rgba(120, 201, 221, 1) 100%);
}

/* TIEU DE web*/
.contactus {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

/* .contactus .titlecontact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
} */
/* ket thuc TIEU DE web */

.form {
    grid-area: form;
    border-radius: 10px;
}

.form h2 {
    text-align: center;
    font-weight: bold;
    color: #2E94E3;
    font-size: xx-large;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
    border-radius: 10px;
    overflow: hidden;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgb(0, 0, 0, 0.15);
}

/*  phan thanh cac khoi */
.box {
    position: relative;
    display: grid;
    margin: 5% 5% 5% 5%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;

    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;

}

.contact div {
    border-radius: 10px;
}

/* ket thuc phan thanh cac khoi */
/* Phan nhap lieu */
.contact h3 {
    text-align: center;
    font-weight: bold;
    color: #2E94E3;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;

}

.inputBox input {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    min-width: none;
    flex: 1;

}

.input {
    display: inline;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    margin-top: 20px;
    width: 100px;
    background-color: #27abcc;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 12px 25px;
    border-style: none;
    text-transform: uppercase;
}

.inputBox input[type="submit"]:hover {
    background-color: #2E94E3;
}

.inputBox ::placeholder {
    color: #999;
}

.blue:hover {
    color: #2E94E3;
}

/*ket thuc Phan nhap lieu */


/* info */
.info {
    background: #0e3959;
    border-radius: 10px;
}

.info h2 {
    color: white;
}

.info .infoBox {
    padding-top: 10px;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    min-height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px
}

.info .infoBox div p {
    color: #fff;
    font-size: 1.1em
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    font-size: 1.1em
}

.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    padding-left: 12px;
    color: white;
    font-size: 2em;
    color: #0091ff;
}

.sci li a:hover {
    color: rgb(169, 14, 164);
}


/* ket thuc info */
.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* FAQ */
.contactfaq section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactfaq h2 {
    font-size: 3rem;
    margin: 2rem 0;
    color: rgb(0, 0, 0);
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
.question h3 {
    font-size: 1.8rem;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active svg {
    transform: rotate(180deg);
}
.contactfaq svg {
    transition: transform 0.5s ease-in;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}