@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    /* background-color: #ecf0f1; */
}


.topnav {
    overflow: hidden;
    background-color: black;
}


.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;

}

.topnav a:hover {
    background-color: black;
    color: #2E94E3;
    border-left: 3px solid #2E94E3;
    border-right: 3px solid #2E94E3;
    font-size: x-large;
    position: relative;
}

.logo {
    width: 35px;
    border-radius: 10px;
    margin-left: 0px;
}


.topnav a button {
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    background-color: #07677f;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.signin button:hover {
    background-color: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
    font-size: x-large;
    position: relative;
}



/* footer */
.footer {
    box-sizing: border-box;
    background-color: #061121;
    padding: 70px;
}

.container1 {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h2 {
    font-size: 25px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2E94E3;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #bdc3c7;
    text-decoration: none;
    /* font-weight: 300; */
    color: #f7fcff;
    display: block;
}

.footer-col ul li a:hover {
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #2E94E3;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #2E94E3;
}

.datetime {
    color: white;
    width: 330px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    margin-top: 30px;
}

.datetime:hover {
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

.date {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    padding-left: 10px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child {
    background: #2E94E3;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}