@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    /* background-color: #ecf0f1; */
}
/* header */
header   a, button{
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding: 0px 5px; 
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #061121;
    max-height: 90px;
    
}
.signin button {
    padding: 9px 25px;
    background-color: #27abcc;
    border: none;
    border-radius: 50px;
}
.logo{
    width: 50px;
    border-radius: 5px;
}
.link{
    align-items: center;
    list-style: none;
}
.link li{
    display: inline-block;
    padding: 0px 20px;

}
.link a{
    position: relative;
    text-decoration: none;
}
.link li a:hover{
    color: #46abc4;
    text-decoration: none;
    border-bottom: 2px solid #0f9dc1;
    font-size: x-large;
    /* color: rgb(132,132,241);
    color: linear-gradient(156deg, rgba(132,132,241,1) 35%, rgba(120,201,221,1) 100%); */
}
a:hover{
    text-decoration: none;
}

/* .link a::after{
    content: "";
    position: absolute;
    background-color: #d3dde5;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
link a:hover::after{
    width: 100%;
} */
/* a:hover::before{
    text-decoration: none;
    width: 100%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
} */
/* .link li a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 0%;
    height: 2px;
    background: #0088a9;
   
} */
/* .link li a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 100%;
    width: 0%;
    height: 2px;
    background: #0088a9;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
} */
.signin button:hover{
    background-color: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
    /* font-size: larger; */
    /* border-style: none; */
}

/* main */
.slide {
    object-fit: cover;
}
.rep{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.rep img {
    flex-direction: column-reverse;
    align-items: center;
}
.p1{  
    margin-top: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #7f8c8d;
}

.b1{
    padding-top: 3rem;
}
.rep button {
    padding: 9px 25px;
    background-color: #27abcc;
    border: none;
    border-radius: 50px;
}
.rep button:hover{
    background-color: #061121;
    font-size: larger;
    /* border-style: none; */
}
/* footer */
.footer{
    box-sizing: border-box;
    background-color: #061121;
    padding: 70px;
}
.container1{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h2{
    font-size: 25px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2E94E3;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #bdc3c7;
    text-decoration: none;
    /* font-weight: 300; */
    color: #f7fcff;
    display: block;
}
.footer-col ul li a:hover{
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #2E94E3;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #2E94E3;
}
.datetime{
    color:white;
    width: 330px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    margin-top: 30px;
}
.datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    padding-left: 10px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}
.scroll {
    display: flex;
    justify-content: right;
}
.scroll button {
    padding: 9px 25px;
    background-color: #27abcc;
    border: none;
    border-radius: 50px;
}
.scroll button:hover {
    background-color: #2E94E3;
}