body {
    /* background: rgb(132, 132, 241);
    background: linear-gradient(12deg, rgba(132, 132, 241, 1) 0%, rgba(120, 201, 221, 1) 100%); */
    background-color: aliceblue;
}

.contact{
    /* position: relative; */
    /* min-height: 100vh; */
    padding: 10px 50px;
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: center;
    /* background: url(../5-contact/img/background_contract2.jpg);
    background-size: cover;  */
}
.contact h2 {
    font-weight: bolder;
    /* margin: 40px; */
    /* color: #2E94E3; */
}
.contract .content{
    max-width: 800px;
    text-align: center;
}
.contract .content h2{
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.container{
    width: 100%;
    display: flex;
    float: right;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #0b1b33;
    height: 450px;
    border-radius: 10px;

}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    margin: 10px 10px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #2E94E3;
  
}
.container .contactInfo .box .icon{
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-left: 10px;
}
.container .contactInfo .box p {
    color: white;
}
.contactform{
    width: 400;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #244053;
}
.contactform h2{
    font-size: 30px;
    color: #2E94E3;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.contactform .inputBox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span
{
    color: #2E94E3;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100px;
    background: #0f9dc1;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
}
@media (max-width: 991px)
{
    .contract{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
}
